# Python
__pycache__/
*.pyc

# Build / packaging
build/
dist/
*.spec

# Virtual env
venv/
.venv/
env/

# Secrets
.env
*.json

# Large binaries
*.exe
*.zip
*.msi

# OS
Thumbs.db
.DS_Store

# App outputs
outputs/
temp/
tmp/
preview/
previews/
logs/

# Photo files
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.raw
*.cr2
*.cr3
*.nef
*.arw
*.dng
*.xmp